doctype html
html(lang="en")
  head
    title= msgConverter
    script(type='text/javascript').
  body
    h1 Kevin's Magic Converter
    #container.col
      p.
        Tell me a story. Send me a message.
      form(method="POST")
        input(type="text")
        button(type="submit")
